@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

#containerGeralGeral {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#containerGeral {
  box-sizing: border-box;
  height: 80vh;
  width: 80vw;
  max-width: 800px;
  margin: auto;
  display: flex;
  border-radius: 15px;
  background-color: white;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: rgb(180, 180, 180);
}

#image {
  width: 50%;
  background-image: url("./images/background.jpg");
  background-size: cover;
}

#background img {
  height: 500px;
  width: 300px;
}

#divTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo {
  color: black;
  text-shadow: rgb(241, 241, 241) 2px 2px 0px;
  font-size: 24px;
  width: 80%;
}

.linhas {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
}

.linhas input {
  padding: 8px;
  margin: auto;
  width: 80%;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  border: solid 0.5px rgb(165, 165, 165);
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
}
#calcular {
  margin: 0;
  background: rgb(255, 115, 0);
  font-size: 15px;
  box-sizing: border-box;
  width: 80%;
  border: none;
  border-radius: 5px;
}

.linhas input:hover,
#calcular:hover {
  width: 82%;
  transition: 0.2s;
}
#resultado {
  margin-top: 10px;
  display: block;
  color: black;
  border-radius: 10px;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}

#conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 500px;
  width: 50%;
  text-align: center;
  padding: 5px;
  margin-left: -4;
}
li {
  list-style: none;
}
#resultado img {
  height: 30px;
}
.hideImg {
  display: none;
}
